<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title> <!-- page title -->
    <link rel="stylesheet" href="styles.css"> <!-- linked to styles.css -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <img class="logo" src="images/logo.png" alt="logo"> <!-- page logo "logo.png" classed as "logo" linked to styles.css-->

    <ul class="nav"> <!-- naviagtion list -->
      <li class="page"><a href="index.html">Home</a></li> <!-- index.html link -->
    </ul>

    <h2>Task 1 – Create an HTML Page</h2>

    <p>HTML Home Page/Index page</p>

    <h2>Task 2 – Add CSS to your HTML page</h2>

    <p class="text">CSS implemented within page</p>

    <h2>Task 3 - Adding JavaScript</h2>

    <div class="ex">
      <button onclick="myFunction()">Click me</button>
    </div>

    <script>
      function myFunction() {
        alert("Welcome to my HTML page!");
      }
    </script>

    <h2>Task 4 – Vue.js Framework</h2>

    <div class="ex" id="example4-1">
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>

    <input id="input" type="text" v-model="newItem">

    <button v-on:click="addItem">Add to do item</button>
    </div>

    <h4>EXAMPLE 1</h4>

    <div class="ex" id="example4-2">
      {{ message }}
    </div>

    <h4>EXAMPLE 2</h4>

    <div class="ex" id="example4-3">
      <span v-bind:title="message">Date and time based on visit (hover-on)</span>
    </div>

    <script src="vue.js"></script>  <!-- linked to scripts.js -->
  </body>
</html>
